* {
    margin: 0;
    padding: 0%;
}
header{
    background-image: linear-gradient(to right, rgba(7, 82, 7, 0.959) , rgba(29, 209, 29, 0.849));
}

#fotoPrincipal--header{
        background-image: url(http://www.tecnoambiental.com.ar/imagenes/banner2.jpg);
        background-size: contain;
        height: 200px;
}
main{
    display: block;
    background-color: rgba(228, 227, 227, 0.925);
    font-family:'Raleway';
}

main h2{
    text-decoration: underline;
    color: rgb(0, 128, 0);
    text-align: center;
    font-size: 35px;
    padding-top: 15px;
    animation-duration: 5s;
    animation-name: aparecerTitulo ;
}
@keyframes aparecerTitulo{
    0% {
        opacity: 0 ;
    }
    100% {
        opacity: 1;
    }
}
main h2:hover{
    color: black;
}
.marcaRegistrada--footer p{
    background-color: rgba(0, 128, 0, 0.479);
}
#fotosHabilitaciones{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 45px;
    padding-bottom: 25px;
}
  #image-gallery .modal-footer{
    display: block;
}
.thumb{
    margin-top: 15px;
    margin-bottom: 15px;
}

body{
    background-color:rgba(228, 227, 227, 0.925) ;
}

