@charset "UTF-8";
* {
  margin: 0;
  padding: 0%; }

footer {
  background-color: rgba(128, 128, 128, 0.801); }
  footer .contacto--footer {
    width: 100%;
    height: 100px;
    font-size: 20px;
    word-spacing: 20px;
    text-align: center; }
    footer .contacto--footer ul li {
      display: inline-block;
      word-spacing: 5px;
      margin: 25px; }

.textoCentro--quienesSomos {
  display: flex;
  width: 1000px;
  margin: 25px 0px 25px 250px;
  background-color: rgba(0, 128, 0, 0.479);
  font-size: 25px;
  text-align: center; }

.sectorContacto {
  display: block;
  width: 350px;
  margin: 50px;
  margin-left: 600px;
  margin-bottom: 50px;
  font-size: 20px; }
  .sectorContacto .form-group {
    display: inline;
    width: 750px; }
    .sectorContacto .form-group #botones {
      display: block;
      width: 1000px; }
    .sectorContacto .form-group .comment {
      display: block; }
    .sectorContacto .form-group .custom-control custom-checkbox {
      display: inline;
      width: 650px; }
    .sectorContacto .form-group .custom-control-label {
      width: 350px; }
    .sectorContacto .form-group .sectorContacto--comentario {
      display: block;
      height: 150px; }

section .textoCentro--servicios p {
  font-size: 25px;
  background-color: rgba(0, 128, 0, 0.479); }

section .textoCentro--servicios h3 {
  font-size: 30px;
  color: green;
  text-decoration: underline; }

.textoCentro--inicio {
  text-align: center;
  font-size: 25px;
  margin-left: 180px; }
  .textoCentro--inicio .container {
    margin: 50px 0 50px 0;
    align-items: center; }
    .textoCentro--inicio .container .col-lg-6 {
      justify-content: center; }
      .textoCentro--inicio .container .col-lg-6 p {
        width: 500px;
        height: 250px;
        background-color: rgba(0, 128, 0, 0.479);
        margin-left: 21px; }
    .textoCentro--inicio .container .titulo--manejo {
      font-size: 25px;
      color: green;
      text-decoration: underline;
      text-align: center; }
    .textoCentro--inicio .container .titulo--fronteras {
      font-size: 25px;
      color: green;
      text-decoration: underline;
      text-align: center; }
      .textoCentro--inicio .container .titulo--fronteras .foto--fronteras {
        margin-left: 50px;
        margin-top: 25px; }

#presentacion--empresa p {
  margin-left: 50px;
  margin-right: 50px;
  font-size: 35px;
  text-align: center;
  background-color: rgba(0, 128, 0, 0.479); }
  #presentacion--empresa p p:hover {
    background-color: #15e215; }

.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 30px 30px 30px;
  grid-template-areas: "Servicio Duración Aplicación" "Desratización 20Min Pegamento" "Desinsectación 15Min Pulverización";
  margin: 50px; }
  .grid div {
    border: 2px solid black;
    text-align: center;
    background-color: rgba(0, 128, 0, 0.479); }
  .grid .a {
    grid-area: Servicio;
    font-weight: bold; }
  .grid .b {
    grid-area: Duración;
    font-weight: bold; }
  .grid .c {
    grid-area: Aplicación;
    font-weight: bold; }
  .grid .d {
    grid-area: Desratización; }
  .grid .e {
    grid-area: 20Min; }
  .grid .f {
    grid-area: Pegamento; }
  .grid .g {
    grid-area: Desinsectación; }
  .grid .h {
    grid-area: 15Min; }
  .grid .i {
    grid-area: Pulverización; }

.menuPrincipal--header {
  word-spacing: 50px;
  list-style-type: none;
  border-width: 2.5px;
  border-style: solid;
  background-color: rgba(61, 59, 59, 0.363);
  height: 47px;
  text-align: center; }
  .menuPrincipal--header ul li {
    display: inline-block; }
    .menuPrincipal--header ul li a {
      font-size: 25px;
      text-decoration: none;
      word-spacing: 4px;
      color: black; }
      .menuPrincipal--header ul li a a:hover {
        color: blue; }

.header--principalIndex {
  background-image: url(../img/mundo1.jpg);
  background-size: cover;
  height: 200px; }

.header--principalIndex .tituloPrincipal {
  color: #1ce41c;
  background-color: rgba(128, 128, 128, 0.503);
  text-decoration: underline;
  font-size: 90px;
  height: 200px;
  padding-top: 40px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: bold; }

main {
  display: block;
  background-color: rgba(228, 227, 227, 0.925);
  font-family: 'Raleway'; }
  main h2 {
    text-decoration: underline;
    color: green;
    text-align: center;
    font-size: 35px;
    padding: 30px 0 30px 0;
    animation-duration: 5s;
    animation-name: aparecerTitulo; }

@keyframes aparecerTitulo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

main h2:hover {
  color: black; }

.marcaRegistrada--footer p {
  background-color: rgba(0, 128, 0, 0.479); }

.thumb {
  margin-top: 15px;
  margin-bottom: 15px; }

body {
  background-color: rgba(228, 227, 227, 0.925); }
